=content_for :header do
  = javascript_include_tag 'iframeResizer.min'

  :coffeescript
    $(document).ready ->      
      $('iframe').iFrameResize();

.row{'ng-app' => 'problemApp', 'ng-controller' => 'ShowProblemController as vm'}
  .col-sm-6
    .pull-left{style: 'margin-right: 20px; margin-bottom: 5px; margin-left:10px; margin-top: 20px'}      
      %vote-section{'vote-up' => 'vm.vote_up()', 'vote-down' => 'vm.vote_down()', 'vote-status' => '{{vm.vote.my_vote_status}}', 'up-vote-count' => '{{vm.vote.up_vote}}', 'down-vote-count' => '{{vm.vote.down_vote}}', 'img-style' => '{{vm.voteImgStyle}}'}
      = link_to edit_problem_path(params[:id]), class: 'btn btn-info btn-sm', style: 'margin-top:20px' do
        %span.glyphicon.glyphicon-edit
    %div{style: 'overflow: hidden'}
      %h4
        {{vm.problem.title}}
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#overview", :role => "tab"}
            %span.glyphicon.glyphicon-home
            Overview
        %li
          %a{"data-toggle" => "tab", :href => "#cause", :role => "tab"}
            %span.glyphicon.glyphicon-fire
            Cause
        %li
          %a{"data-toggle" => "tab", :href => "#symptom", :role => "tab"}
            %span.glyphicon.glyphicon-eye-open
            Symptom
        %li
          %a{"data-toggle" => "tab", :href => "#effect", :role => "tab"}
            %span.glyphicon.glyphicon-screenshot
            Effect
      / Tab panes
      .tab-content{style: 'margin: 10px'}
        #overview.tab-pane.active
          .row
            .col-sm-2
              Urgency
            .col-sm-3
              .progress
                .progress-bar.progress-bar-success.progress-bar-striped.active{"aria-valuemax" => "5", "aria-valuemin" => "0", "aria-valuenow" => "{{vm.problem.urgency + 1}}",
                  :role => "progressbar", 'ng-style' => "{'width': ((vm.problem.urgency + 1) * 100.0 / 5.0) + '%'}"}
            .col-sm-1
            .col-sm-2
              Category
            .col-sm-3
              {{vm.problem.category_name}}
          .row
            .col-sm-2
              Location
            .col-sm-10
              {{vm.problem.kelurahan_name}},
              {{vm.problem.kecamatan_name}},
              {{vm.problem.kabupaten_name}},
              {{vm.problem.province_name}},
          .row
            .col-sm-2
              Reporter
            .col-sm-10
              {{vm.problem.reported_by.name}}
          .row
            .col-sm-2{'ng-repeat' => 'image in vm.problem.images track by $index', style: 'padding-left:5px; padding-right:5px'}
              %a.thumbnail.thumb{"data-toggle" => "lightbox", 'ng-click' => "vm.showImage($index)", style: 'width:100%'}
                %img{'ng-src' => '{{image}}'}
              .demoLightbox.lightbox.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
                .lightbox-dialog
                  .lightbox-content
                    %img{'ng-src' => '{{image}}'}

          .row
            .bs-callout.bs-callout-info
              .with-newline<
                {{vm.problem.summary}}
        #cause.tab-pane
          .row
            .col-sm-12.with-newline<
              {{vm.problem.cause}}
        #symptom.tab-pane
          .row
            .col-sm-12.with-newline<
              {{vm.problem.symptom}}
        #effect.tab-pane
          .row
            .col-sm-12.with-newline<
              {{vm.problem.effect}}
    .clearfix

    %hr

    %ul.nav.nav-pills{:role => "tablist"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#findings", :role => "tab"}
          %span.glyphicon.glyphicon-search
          Findings
      %li
        %a{"data-toggle" => "tab", :href => "#volunteers", :role => "tab"}
          %span.glyphicon.glyphicon-user
          Volunteers
      %li
        %a{"data-toggle" => "tab", :href => "#fundings", :role => "tab"}
          %span.glyphicon.glyphicon-usd
          Fundings

    .tab-content{style: 'margin: 10px'}
      #findings.tab-pane.active
        =render partial: 'findings/index'
      #volunteers.tab-pane
        %h4 Volunteers
      #fundings.tab-pane
        %h4 Fundings

  .col-sm-6{style: 'height:100%'}
    %h4 Brainstorm for solution
    %iframe{'src' => "#{@brainstorm_url}", width: '100%', scrolling: "no",
      style: 'overflow:hidden;width:100%', frameborder: 0}