=content_for :header do
  = javascript_include_tag 'iframeResizer.min'

  :coffeescript
    $(document).ready ->
      $("textarea").autosize()
      $('iframe').iFrameResize();

.row{'ng-app' => 'problemApp', 'ng-controller' => 'ShowProblemController as vm'}
  .col-sm-6
    .pull-left{style: 'margin-right: 20px; margin-bottom: 5px; margin-left:10px; margin-top: 20px'}      
      %vote-section{'vote-up' => 'vm.vote_up()', 'vote-down' => 'vm.vote_down()', 'vote-status' => '{{vm.vote.my_vote_status}}', 'up-vote-count' => '{{vm.vote.up_vote}}', 'down-vote-count' => '{{vm.vote.down_vote}}', 'img-style' => '{{vm.voteImgStyle}}'}
    .pull-left
      %h4
        {{vm.problem.title}}
      = link_to 'Edit', edit_problem_path(params[:id]), class: 'btn btn-info', style: 'margin-top:10px'
      %br
      %b Category:
      {{vm.problem.category_name}}
      %br
      %b Province:
      {{vm.problem.province_name}}
      %br
      %b Kabupaten:
      {{vm.problem.kabupaten_name}}
      %br
      %b Kecamatan:
      {{vm.problem.kecamatan_name}}
      %br
      %b Kelurahan:
      {{vm.problem.kelurahan_name}}
      %br
      %b Reported by:
      {{vm.problem.reported_by.name}}
      %br
      %b Urgency:
      {{vm.problem.urgency_name}}
      %br
      %b Summary:
      {{vm.problem.summary}}
      %br
      %b Cause:
      {{vm.problem.cause}}
      %br
      %b Symptom:
      {{vm.problem.symptom}}
      %br
      %b Effect:
      {{vm.problem.effect}}
      %br

    .clearfix

    %hr
    %ul.nav.nav-pills
      %li{'ng-class' => '{active: vm.selected_tab == 0}'}
        %a{'ng-click' => 'vm.showFindings()', href: '#'} Findings
      %li{'ng-class' => '{active: vm.selected_tab == 1}'}
        %a{'ng-click' => 'vm.showVolunteers()', href: '#'} Volunteers
      %li{'ng-class' => '{active: vm.selected_tab == 2}'}
        %a{'ng-click' => 'vm.showFundings()', href: '#'} Fundings

    %div{'ng-if' => 'vm.selected_tab == 0'}
      =render partial: 'findings/index'
    %div{'ng-if' => 'vm.selected_tab == 1'}
      %h4 Volunteers
    %div{'ng-if' => 'vm.selected_tab == 2'}
      %h4 Fundings

  .col-sm-6{style: 'height:100%'}
    %h4 Brainstorm for solution
    %iframe{'src' => "#{@brainstorm_url}", width: '100%', scrolling: "no",
      style: 'overflow:hidden;width:100%', frameborder: 0}