.pull-left.vote  
  %vote-section{'is-owner' => 'finding.is_owner', 'vote-up' => 'vm.vote_up(finding)', 'vote-down' => 'vm.vote_down(finding)', 'vote-status' => '{{finding.my_vote_status}}', 'up-vote-count' => '{{finding.up_vote}}', 'down-vote-count' => '{{finding.down_vote}}', 'img-style' => '{{vm.voteImgStyle}}'}

.comment
  .posted-by.pull-left
    {{finding.posted_by}}
  .btn.btn-danger.btn-sm.pull-right{'ng-if' => 'finding.is_owner', 'ng-click' => 'vm.delete(finding)'}
    %span.glyphicon.glyphicon-trash
  .clearfix
  .with-newline<
    {{finding.comment}}

  -if allow_reply
    .reply
      %a.thumb.btn.btn-default.btn-xs{"ng-click" => "finding.show_new_reply = true ? !finding.show_new_reply : false"}
        %span.glyphicon.glyphicon-chevron-down
      %div{"ng-if" => "finding.show_new_reply"}
        %br
        =text_area_tag :finding, '', 'ng-model' => 'vm.newReply.comment'
        %br
        =button_tag('Submit', class: 'btn btn-primary pull-right', 'ng-click' => 'vm.createReply(finding, vm.newReply)')