%h4 New finding
=text_area_tag :finding, '', class: 'wide-text-area', 'ng-model' => 'newFinding.comment'
=button_tag('Submit', class: 'btn btn-primary pull-right', 'ng-click' => 'createFinding(newFinding)')

%div{style: 'clear:both'}
.finding.well{'ng-repeat' => 'finding in findings'}
  {{finding.comment}}
  %br
  .posted-by
    Posted by: {{finding.posted_by}}
