%h4 New finding
=text_area_tag :finding, '', class: 'wide-text-area', 'ng-model' => 'newFinding.comment'
=button_tag('Submit', class: 'btn btn-primary pull-right', 'ng-click' => 'createFinding(newFinding)')

%div{style: 'clear:both'}
.finding{'ng-repeat' => "finding in findings | orderBy:'up_vote-down_vote':true"}
  .pull-left.vote
    .thumb{'ng-if' => "finding.my_vote_status == 'quo' || finding.my_vote_status == 'not_available'"}
      =image_tag("up_inactive.png", 'ng-click' => 'vote_up(finding)', mouseover: "up_hover.png", size: "20x25")
      %br
      .point
        {{finding.up_vote - finding.down_vote}}
      =image_tag("down_inactive.png", 'ng-click' =>'vote_down(finding)', size: "20x25", style: 'margin-top:10px')
    .thumb{'ng-if' => "finding.my_vote_status == 'up'"}
      =image_tag("up_pressed.png", mouseover: "up_hover.png", size: "20x25", 'ng-click' => 'unvote(finding)')
      %br
      .point
        {{finding.up_vote - finding.down_vote}}
      =image_tag("down_inactive.png", 'ng-click' => 'vote_down(finding)', size: "20x25", style: 'margin-top:10px')
    .thumb{'ng-if' => "finding.my_vote_status == 'down'"}
      =image_tag("up_inactive.png", 'ng-click' => 'vote_up(finding)', mouseover: "up_hover.png", size: "20x25")
      %br
      .point
        {{finding.up_vote - finding.down_vote}}
      =image_tag("down_pressed.png", size: "20x25", style: 'margin-top:10px', 'ng-click' => 'unvote(finding)')

  .comment
    .posted-by
      {{finding.posted_by}}
    {{finding.comment}}

    .reply
      %a.thumb.btn.btn-default.btn-xs{'ng-click' => 'finding.show_new_reply = true ? !finding.show_new_reply : false'}
        %span.glyphicon.glyphicon-chevron-down
      %div{'ng-if' => 'finding.show_new_reply'}
        %br
        =text_area_tag :finding, '', 'ng-model' => 'newReply.comment'
        %br
        =button_tag('Submit', class: 'btn btn-primary pull-right', 'ng-click' => 'createReply(finding, newReply)')

  .finding{style: 'margin-left:35px', 'ng-repeat' => "finding in finding.replies | orderBy: 'created_at'"}
    .pull-left.vote
      .thumb{'ng-if' => "finding.my_vote_status == 'quo' || finding.my_vote_status == 'not_available'"}
        =image_tag("up_inactive.png", 'ng-click' => 'vote_up(finding)', mouseover: "up_hover.png", size: "20x25")
        %br
        .point
          {{finding.up_vote - finding.down_vote}}
        =image_tag("down_inactive.png", 'ng-click' =>'vote_down(finding)', size: "20x25", style: 'margin-top:10px')
      .thumb{'ng-if' => "finding.my_vote_status == 'up'"}
        =image_tag("up_pressed.png", mouseover: "up_hover.png", size: "20x25", 'ng-click' => 'unvote(finding)')
        %br
        .point
          {{finding.up_vote - finding.down_vote}}
        =image_tag("down_inactive.png", 'ng-click' => 'vote_down(finding)', size: "20x25", style: 'margin-top:10px')
      .thumb{'ng-if' => "finding.my_vote_status == 'down'"}
        =image_tag("up_inactive.png", 'ng-click' => 'vote_up(finding)', mouseover: "up_hover.png", size: "20x25")
        %br
        .point
          {{finding.up_vote - finding.down_vote}}
        =image_tag("down_pressed.png", size: "20x25", style: 'margin-top:10px', 'ng-click' => 'unvote(finding)')

    .comment
      .posted-by
        {{finding.posted_by}}
      {{finding.comment}}

      .reply
        %a.thumb.btn.btn-default.btn-xs{'ng-click' => 'finding.show_new_reply = true ? !finding.show_new_reply : false'}
          %span.glyphicon.glyphicon-chevron-down
        %div{'ng-if' => 'finding.show_new_reply'}
          %br
          =text_area_tag :finding, '', 'ng-model' => 'newReply.comment'
          %br
          =button_tag('Submit', class: 'btn btn-primary pull-right', 'ng-click' => 'createReply(finding, newReply)')

    .finding{style: 'margin-left:35px', 'ng-repeat' => "finding in finding.replies | orderBy: 'created_at'"}
      .pull-left.vote
        .thumb{'ng-if' => "finding.my_vote_status == 'quo' || finding.my_vote_status == 'not_available'"}
          =image_tag("up_inactive.png", 'ng-click' => 'vote_up(finding)', mouseover: "up_hover.png", size: "20x25")
          %br
          .point
            {{finding.up_vote - finding.down_vote}}
          =image_tag("down_inactive.png", 'ng-click' =>'vote_down(finding)', size: "20x25", style: 'margin-top:10px')
        .thumb{'ng-if' => "finding.my_vote_status == 'up'"}
          =image_tag("up_pressed.png", mouseover: "up_hover.png", size: "20x25", 'ng-click' => 'unvote(finding)')
          %br
          .point
            {{finding.up_vote - finding.down_vote}}
          =image_tag("down_inactive.png", 'ng-click' => 'vote_down(finding)', size: "20x25", style: 'margin-top:10px')
        .thumb{'ng-if' => "finding.my_vote_status == 'down'"}
          =image_tag("up_inactive.png", 'ng-click' => 'vote_up(finding)', mouseover: "up_hover.png", size: "20x25")
          %br
          .point
            {{finding.up_vote - finding.down_vote}}
          =image_tag("down_pressed.png", size: "20x25", style: 'margin-top:10px', 'ng-click' => 'unvote(finding)')

      .comment
        .posted-by
          {{finding.posted_by}}
        {{finding.comment}}

  %div{style: 'clear:both'}
  %hr