FACEBOOK_APP_ID: 1495052184085351
FACEBOOK_APP_SECRET: e2bf81588069d534da0874a64db871cd

S3_BUCKET: gotongroyong20devt
AWS_ACCESS_KEY_ID: AKIAJQLXNTIIJENCFTXA
AWS_SECRET_ACCESS_KEY: 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
AWS_REGION: ap-southeast-1