.login
  %h3
    Log In
  %hr
.row
  .col-xs-6.col-sm-6.col-md-6
    = link_to "Facebook", user_omniauth_authorize_path(:facebook), "class" => 'btn btn-lg btn-primary btn-block'
  .col-xs-6.col-sm-6.col-md-6
    = link_to "Google", user_omniauth_authorize_path(:google_oauth2), "class" => 'btn btn-lg btn-info btn-block'
.row{'style' => 'margin-top:20px'}
  .col-xs-6.col-sm-6.col-md-6
    = link_to "Twitter", user_omniauth_authorize_path(:twitter), "class" => 'btn btn-lg btn-default btn-block'