// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  height: 400px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .thumbnail {
    width: 200px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .thumbnail {
    width: 100px;
    margin-top: 10px;
  }
}

.summary {
  font-size: 16px;
}

.location-filter {
  margin-top: 10px;
}

.thumb {
  cursor: pointer;
  cursor: hand;
}

.point {
  margin-top: 7px;
  margin-left: 5px;
  font-size: 20px;
}

.wide-text-area {
  width: 100%;
  height: 150px;
}

.finding {
  clear: both;
  margin-top: 10px
}

.finding .comment {
  padding-top: 20px;
}

.finding .point {
  margin-top: 7px;
  margin-left: 5px;
  font-size: 14px;
}

.finding hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.posted-by {
  font-size: 12px;
  font-weight: bold;
}

.vote-counter {
  width:100px;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}