// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  height: 400px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.thumbnail {
  width: 200px;
  margin-top: 10px;
}

.summary {
  font-size: 16px;
}